{% extends 'base.html' %}
{% block main %}
<h1>Checkers</h1>
<div class="disable"></div>
<table id="board" cellspacing="0">
    <tr>
        <td></td>
        <td class="pawn_white"></td>
        <td></td>
        <td class="pawn_white"></td>
        <td></td>
        <td class="pawn_white"></td>
        <td></td>
        <td class="pawn_white"></td>
    </tr>
    <tr>
        <td class="pawn_white"></td>
        <td></td>
        <td class="pawn_white"></td>
        <td></td>
        <td class="pawn_white"></td>
        <td></td>
        <td class="pawn_white"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="pawn_white"></td>
        <td></td>
        <td class="pawn_white"></td>
        <td></td>
        <td class="pawn_white"></td>
        <td></td>
        <td class="pawn_white"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="pawn_black"></td>
        <td></td>
        <td class="pawn_black"></td>
        <td></td>
        <td class="pawn_black"></td>
        <td></td>
        <td class="pawn_black"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="pawn_black"></td>
        <td></td>
        <td class="pawn_black"></td>
        <td></td>
        <td class="pawn_black"></td>
        <td></td>
        <td class="pawn_black"></td>
    </tr>
    <tr>
        <td class="pawn_black"></td>
        <td></td>
        <td class="pawn_black"></td>
        <td></td>
        <td class="pawn_black"></td>
        <td></td>
        <td class="pawn_black"></td>
        <td></td>
    </tr>
</table>

<div id="status">

</div>
{% endblock %}
